
<form action="/asciify/result" method="post">
<p>
    <h1>Ascii art maker</h1>
    <a>Let's asciify!</a>
</p>
<p>
    <h1>폰트를 골라주세요!</h1>
    <select name="input_font">
      <option value="standard">기본</option>
      <option value="big">폰트1</option>
      <option value="thin">폰트2</option>
    </select>
</p>
<p>
    <h1>텍스트를 입력하세요!</h1>
    <input type="text" name="input_text" placeholder="Input Text Here !">
</p>
<p>
    <h1>제출하기</h1>
    <input type="submit" value="Asciify!">
</p>
</form>
